h1 {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.3;
  margin: 1rem;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}

h2,
p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3;
  margin: 1rem 1rem .8rem 1rem;
}

h2 {
  font-weight: 600;

  span {
    display: block;
  }
}

h3 {
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 300;
  color: #666;
  margin: 1.2rem 1rem .5rem;
}

blockquote {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem;

  span {
    display: block;

    &.dash {
      display: none;
    }
  }
}

p {
  font-weight: 300;

  &.hashtags {
    font-weight: 400;
    margin: 1rem 1rem 1.5rem;
  }
}

a {
  position: relative;
  color: currentColor;
  text-decoration: none;
  transition: all .2s $easingEffectSwift;

  &::after {
    position: absolute;
    z-index: -1;
    left: -2px;
    bottom: -2px;
    height: .25rem;
    width: calc(100% + 4px);
    background: linear-gradient(to right, $color-primary, $color-third);
    display: inline-block;
    content: "";
    transition: all .2s .2s $easingEffectSwift;
  }

  &:hover {
    &::after {
      height: 1.1rem;
    }
  }
}

ul.social {
  padding: .5rem 1rem;
  margin: 0 -.7rem;
  display: inline-block;

  li {
    list-style-type: none;
    margin: 0 .7rem .5rem;
    height: 65px;
    display: inline-block;

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 55px;
      text-decoration: none;
      border-bottom: 0;
      transition: all .2s ease;

      .icon {
        width: 30px;
        height: 30px;
        transition: all .2s ease;
      }

      span {
        position: absolute;
        left: 50%;
        bottom: 0;
        display: inline-block;
        font-size: .7rem;
        text-transform: uppercase;
        transform: translate3d(-50%, 0, 0);
      }

      &::after {
        display: none;
      }
    }
  }
}

// DEVICE : PHABLET

@media screen and (min-width: $phablet) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  ul.social {
    li {
      margin-bottom: 0;

      a {
        height: 60px;

        .icon {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

// DEVICE : LAPTOP

@media screen and (min-width: $laptop) {
  blockquote {
    position: relative;
  }

  blockquote span {
    display: block;
    padding-left: 2.2rem;
  }

  blockquote span.dash {
    position: absolute;
    left: -2.2rem;
    top: 0;
    display: inline-block;
  }
}

// DEVICE : DESKTOP

@media screen and (min-width: $desktop) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  ul.social {
    margin: 0 -1.1rem;

    li {
      margin: 0 1.1rem;
    }
  }
}
