// COLORS
$color-primary : #032240;
$color-secondary : #5cdb95;

// BREAKPOINTS
$phablet: 480px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$big-desktop: 1440px;
$maxi-desktop: 1600px;

// EASE
$easingEffectNormal: cubic-bezier(.86, 0, .07, 1);
$easingEffectSwift: cubic-bezier(0, 0, .2, .92);
